@import url('https://fonts.googleapis.com/css?family=Montserrat');
.App {
  position: absolute;

  text-align: center;
  
  left: 50%;

  margin-top: 50px;
  margin-left: -280px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

form {
  position: absolute;
  top: 0;
  right: 0;
  /* right: 0; */
  /* float: left; */
}
